body{
    background-image: url("https://cdn.discordapp.com/attachments/653115942536216597/952024050610372628/unknown.png");
    background-size: 3250px 1230px;
    background-color: #202124; 
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}

h1{
   color: white;
   position: absolute;
   left: 37%;
   top: 0%;;
}

.Words{
    box-sizing: border-box;
    border: 15px;
    border-radius: 20;
    border-style:outset;
    font-size: 50px;
    background-image: linear-gradient(to right, red, blue, green,yellow,purple,indigo,cornflowerblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: borderAnimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes borderAnimation {
    0%{border-color: red;}
    10%{border-color: blue;}
    20%{border-color: indigo;}
    30%{border-color: rgb(124, 228, 28);}
    40%{border-color: green;}
    50%{border-color: yellow;}
    60%{border-color: cornflowerblue;}
    70%{border-color: orange;}
    80%{border-color: pink;}
    90%{border-color: navy;}
    100%{border-color: teal;}
}